{% extends "core/base.html" %}

{% block title %} ToDo List {% endblock %}

{% block content %}

<table>

    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>

    {% if todos %}
    {% for task in pending_todos %}
    <tr>

        <td>{{task.1}}</td>
        <td><a href="{% url 'complete_todo' task.0 %}">Update</a></td>
        <td><a href="{% url 'confirm_deletion' task.0 %}">Delete</a></td>

    </tr>
    {% endfor %}

    {% for task in completed_todos %}
    <tr>
        <td>{{task.1}}</td>
        <td><a href="{% url 'complete_todo' task.0 %}">Update</a></td>
        <td><a href="{% url 'confirm_deletion' task.0 %}">Delete</a></td>
    </tr>
    {% endfor %}

    {% else %}
    <h3>No items in the list.</h3>
    {% endif %}


</table>

{% endblock %}