* {
    box-sizing: border-box;
}

body {
  background-color: #1a1a1d;
  color: #c3073f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}

.title {
    font-size: xx-large;
}

.todo-form {
    font-size: large;
}

a:any-link {
    color: #c3073f;
}

.button {
  background-color: #1a1a1d; 
  border: 2px solid #c3073f;
  color: #c3073f;
  padding: 16px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover{
    background-color: #c3073f;
    color: #1a1a1d;
}

input[type="text"] {
    background-color: whitesmoke;
    margin-bottom: 20px;
    padding: 4px;
}

.flex-container {
    display: flex;
}

.fill-width {
    flex: 1;
}

/* removing margin and padding from unordered list to bring it in-line 
with the rest of the webpage */
ul {
    margin: 0;
    padding: 0;
}

ul li {
    background-color: #4e4e50;
    color: #dd1451;
    cursor: pointer;
    position: relative;
    padding: 8px 2px 12px 40px;
    list-style-type: none;
    transition: 0.4s;    

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:hover {
    background-color: #1a1a1d;
}

.task {
    background-color: #4e4e50;
    color: #dd1451;
}

.completed-task {
    text-decoration: line-through;
    background: #23232c;
    color: #4e4e50;
}
/* 
.task-icon {
    
} */