body {
    background: #FAFAFA;
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
}

a {
    color: #4b5154;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}

.container {
    max-width: 550px;
    margin: auto;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}